.login-background {
    background-image: url(../images/login-wallpaper.jpg);
    background-size: cover;
    height: 800px;
}

.border-forms {
    max-width: 660px;
    max-height: 800px;
    padding: 15px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #999999;
    border-radius: 0;
    outline: none;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.login-header {
    color: #ffffff;
    font-size: 21px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.passport-series {
    width: 14%;
    float: left;
    margin-right: 1%;
}

.passport-number {
    width: 85%;
}

.passport-personal-number {
    margin-top: 10px;
}

.passport-info-header {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
}

.left {
    margin-left: 25px;
}

.client-booking {
    padding: 0 20px;
}

.new-account {
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.new-user {
    background-color: #c7ddef
}

.booking-form {
    max-width: 450px;
    margin-left: 35px
}

.table-rooms {
    max-width: 580px;
    margin-right: 40px;
    margin-top: 50px
}

h1 {
    color: #ffffff;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.modal-dialog-for-available-rooms {
    margin-right: 50px;
    margin-top: 120px;
}

.registration-content {
    margin-top: 100px;
    margin-left: 350px;
    max-width: 650px;
}

.modal-background-color {
    background-color: lightseagreen;
    color: #ffffff;
}

.modal-title{
    font-size: 20px;
    font-style: italic;
}

.btn-register{
    background-color: lightseagreen;
    color: #ffffff;
}

.pagination-position{
    margin-right: 30px;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    /*background-image: url('validation.png');*/
}

