<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page prototype</title>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="admin-home-prot.html">Liza app</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="../common/booking-edit-form.html">Booking</a></li>
                <li><a href="users-list.html">Clients List</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="new-user" href="../common/personal-info.html">New Client</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <h3>Booking list</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Quantity</th>
            <th>Room Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a>1</a></td>
            <td>Ivanov</td>
            <td>Ivan</td>
            <td>12.08.2016</td>
            <td>19.08.2016</td>
            <td>1</td>
            <td>Single</td>
            <td>

                <a href="#" title="approve booking">
                    <span style="color: green" class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="#" title="cancel booking">
                    <span style="color:red;" class="glyphicon glyphicon-remove left"></span>
                </a>

            </td>
        </tr>
        <tr>
            <td><a>2</a></td>
            <td>Morozova</td>
            <td>Masha</td>
            <td>11.07.2016</td>
            <td>20.07.2016</td>
            <td>2</td>
            <td>Double</td>
            <td>
                <a href="#" title="approve booking">
                    <span style="color: green" class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="#" title="cancel booking">
                    <span style="color:red;" class="glyphicon glyphicon-remove left"></span>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>